<li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-comment"></i>
        <span class="label label-success">4</span>
    </a>
    <div class="box box-primary direct-chat direct-chat-primary dropdown-menu">
        <div class="box-header with-border">
            <h3 class="box-title">Общий чат</h3>
           
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages" id="mesegebox">
             
            </div>
            <!--/.direct-chat-messages-->
    
            <!-- /.direct-chat-pane -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            @using (Ajax.BeginForm("Messege", new AjaxOptions { UpdateTargetId = "mesegebox", OnSuccess = "OnSuccess" }))
            {
                <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Send</button>
                    </span>
                </div>
            }
        </div>
        <!-- /.box-footer-->
    </div>
</li>

@section script{
<script>

    function Scroll() {
        var win = $('#Messages');
        var height = win[0].scrollHeight;
        win.scrollTop(height);
    }
</script>    
}