<h2>Модель добавлена</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Index", "Home")";
        }, 2000);
    })
</script>
