
@model IEnumerable<MES.WEB.Models.QualityIndicatorsVm>

<div class="box external-event">
    <div class="box-header with-border">
        <h3 class="box-title">Сколько теплообменников 5200-01 можно собрать</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="chart">
            <div id="container" width="742" height="286">
                <canvas id="quality"></canvas>
            </div>

        </div>
    </div>
</div>





<script>
    var ctx = document.getElementById("quality").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Encode(Model.Select(x=>x.ProducName))),
            datasets: [{
                label: 'Всего',
                data: @Html.Raw(Json.Encode(Model.Select(x=>x.Quantity))),
                backgroundColor:
                    'rgba(50, 180, 0, 1)'
                ,
                borderColor:
                    'rgba(255, 159, 64, 1)'
                ,
                borderWidth: 1
            },
                {
                    label: 'Брак',
                    data: @Html.Raw(Json.Encode(Model.Select(x=>x.QuantityDefect))),
                    backgroundColor:
                        'rgba(255, 50, 64, 1)'
                    ,
                    borderColor:
                        'rgba(255, 159, 64, 1)'
                    ,
                    borderWidth: 1
                }
                ]
        },
        options: {           
            tooltips: {
                mode: 'index',
                intersect: false
            },
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });
</script>
