
@model IEnumerable<MES.WEB.Models.ShipmentChartVm>
@using System.Globalization

<div id="modalContent" class="modal-content" style="width: 98vw; height: 100%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Сколько спаяно</h4>
    </div>
    <div class="modal-body">
        <div class="chart">
            <canvas id="shipmentChart2" style="height: 229px; width: 594px;" width="742" height="286"></canvas>
        </div>
    </div>
</div>





<script>
    var ctx = document.getElementById("shipmentChart2").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Encode(Model.Where(w=>w.ProducName== "6500").Select(x=> x.Date.ToString("MMMM", new CultureInfo("ru-RU"))))),
            datasets: [{
                    label: '5200-01',
                    data: @Html.Raw(Json.Encode(Model.Where(w=>w.ProducName== "5200-01").Select(x=>x.Quantity))),

                    backgroundColor: "red",
                    borderColor: "red",
                    fill: false

                },
                {
                    label: '6500',
                    data: @Html.Raw(Json.Encode(Model.Where(w=>w.ProducName== "6500").Select(x=>x.Quantity))),
                    borderColor: "green",
                    backgroundColor: "green",
                    fill: false

                },
                {
                    label: '5200',
                    data: @Html.Raw(Json.Encode(Model.Where(w=>w.ProducName== "5200").Select(x=>x.Quantity))),
                    borderColor: "blue",
                    backgroundColor: "blue",
                    fill: false

                }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true


                    }
                }]
            }

        }
    });
</script>

