
@{
    ViewBag.Title = "AddDetail";
}
<link href="~/Content/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<h2>AddDetail</h2>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Horizontal Form</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="@Url.Action("AddDetail", "Stock")">
        <div class="box-body">
            <div class="form-group">
                <label for="namedetail" class="col-sm-2 control-label">Название детали:</label>

                <div class="col-sm-10">

                    <select class="form-control" id="namedetail" name="DetailId"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="countDetail" class="col-sm-2 control-label">Количество:</label>

                <div class="col-sm-10">
                    <input type="number" name="Count" class="form-control" id="countDetail" placeholder="Введите количество">
                </div>
            </div>
            <div class="form-group">
                <label for="datepicker" class="col-sm-2 control-label">Дата:</label>

                <div class="col-sm-10">
                    <input type="text" name="Date" class="form-control pull-right" id="datepicker">
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-info pull-right">Sign in</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>



@section scripts {
    <script>
    var objSel = document.getElementById("namedetail");

    for (var i = 0; i <  @Html.Raw(Json.Encode(ViewBag.Count)); i++) {
        objSel.options[objSel.options.length] = new Option( (@Html.Raw(Json.Encode(ViewBag.nameDetails)))[i], (@Html.Raw(Json.Encode(ViewBag.Id)))[i]);

    }

    </script>

    <script src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js"></script>


    <script>
        $(function () {


            //Date picker
            $('#datepicker').datepicker({
                language: "ru",
                orientation: "bottom auto",
                todayHighlight: true,
                todayBtn: "linked"
            });
        })
    </script>


}


