
@{
    ViewBag.Title = "Index";
}

<div id="modDialog" class="modal fade" i>
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div id="alert-message"></div>

<section class="invoice bg-gray-light">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Управление продуктами
            </h2>
        </div>
        <!-- /.col -->
    </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <a href="@Url.Action("AddProduct")" class="btn btn-success addtn">Добавить продукт</a>
                </p>
                <div id="results"></div>
            </div>
            <div class="col-md-6">
                
                <div id="results2"></div>
            </div>
        </div>
    </section>







@section scripts
{
    <script>
        $(function () {
            var idToUpdate = $('#results');
            $.get("/Admin/ListProduct",
                function (data) {
                    $(idToUpdate).html(data);
                });
        });

        function showElement(event, element) {
            $.ajaxSetup({ cache: false });
            event.preventDefault();
            var idToUpdate = $('#results2');
            $('li').removeClass('active text-bold');
            $(element).parent().addClass('active text-bold');
            $.get(element.href, function (data) {
                $(idToUpdate).html(data);
            });
        };

        function addElement(event, element) {
            $.ajaxSetup({ cache: false });
            event.preventDefault();
            var idToUpdate = $('#results2');
            $.get(element.href, function (data) {
                $(idToUpdate).html(data);
            });
        };

        
       
    </script>
}
