@model MvcHtmlString
@{
    ViewBag.Title = "Главная";
}
<link href="~/Content/mes.css" rel="stylesheet" />


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="results2">
            @Model
        </div>
    </div>
</div>

<script>
    document.getElementById("home").className = "active"
</script>





