
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<link href="~/Content/mes.css" rel="stylesheet" />*@

<div class="col-md-6">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="results2">
                @ViewBag.table
            </div>
        </div>
    </div>
</div>



